.tags
.tags1
tags
CLIPSSrc.zip
clipssrc
build
cvtenv.py
.idea/
*.pyc
*.egg-info/
clips/_version.py
clips/_eclips_wrap.py
*.pyd
.venv
clips_core_source_630
clips_core_source_631
*.zip
*.out
*.dat
*.bdat
